@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	


:root{
  --primary-color: #fd8eaf;
  --text-color: #9e9999;
  --white-color: #f9f9f9;
  --black-color: #36454F;

}

html{
  scroll-behavior: smooth;
}

.left-nb img{
    width: 80px;
    height: 80px;
}
.main-body{
 
background-image: url(./hpbg.png);



}
.about-img{
display:flex;
align-items:center;

}
#hear{
  color: rgb(247 97 150);
}
.mid-head img{
width: 50px;
}
.navbar{
    width: 100vw;
}

.navigation-wrap{
position: fixed;
width: 100%;  
left: 0%;
z-index: 1000;
transition:all 0.3s ease-out;
}

.navigation-wrap .nav-item{
  outline:0 0.5rem;
transition: all 200ms linear;
}


#main-btn{
  border: 2px solid var(--white-color);
  background-color: #f76196;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
#main-btn ::before {
  
  position: absolute;
  background: var(--white-color);
  z-index: -1;
  transition: 0.3s;
  content: '';

}
#main-btn ::after{
  width: 9.3rem;
  height: 1.8rem;
}
#main-btn ::before{
  width: 8.3rem;
  height:3.1rem;
}

/* .mid-sectionn {
   */
/*

}

/* midsection=== */
.right-nb{

  display: flex;
width: 50vw;
justify-content: flex-end;

}
.header{
  width: 100vw;
}
.mid-section{
  /* */
}
.right-mid {

  background-image: url("././headset-boy.jfif");
  background-size: 50vw 50vh;
  background-repeat: no-repeat;
margin-right: 150px;
  background-position-x: right;
  background-position-y: center; 
  height:50vh;
width: 50vw;
  border-radius: 50%;
  border:rgb(255, 255, 255) 5px solid;
  padding: 5px;
}
.right-mid img{

  border-radius: 50%;
  border:black 2px solid;
  padding: 5px;
}
#buy{
  background-color: rgb(247 97 150);
      text-align: center;
      border: 1px solid white ;
}

.right-mid{

}

.left-mid {
  width: 50vw;
}
.header{

}

.mid-section{
  background-image: url(./hpbg.png);
}
/* ====swipper HEAD=== */

/* ==abous  us swiper */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us img{
  width: 500px;
  height: 200px;
}
.about-us{}



/* features ===== */
.features-img img{
  width: 350px;
  height: 350px;
}

.features-left{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.pa{
  text-align: justify;
}

.features .card{
  cursor: pointer;
}

.features .card .features-img{
  box-shadow: 0.0625rem 0.25rem 1.25rem rgb(26 26 26 / 9%);
  border-radius: 0%;
  padding: 1.25rem 0;
  width: 5rem;
  text-align: center;
  height: auto;
  margin-bottom: 2.5rem;
  border-top-right-radius: 1.5rem;
}

.features .card img{
  display: block;
  opacity: 75%;
  margin: 0% auto;
  filter: brightness(0);
}

.features .card:hover .features-img img{
  filter: brightness(1);
}

.card i:hover {
  color:#f76196 ;
}


.features .card {
display: flex;
align-items: center;
justify-content: center;
margin:5px ;
}

#hi{
  border: none;
 
  display: flex;
align-items: center;
justify-content: center;

flex-direction: column;
}

#gori img{
  width: 400px;
  height: 300px;
padding: 50px;
}

  #gori{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.Headphones .card:hover{
 display: none;
}
#hi img:hover{
  transition: all 0.5s;
  transform: scale(0.9);
  border: rgb(46 255 101) 2px solid;
}
#hi img{
  width:180px;
  padding:15px
}
.star{
  color: #3b53f0; 
}
/* }
#main-btn{
  border: #f7e361 solid 0.63rem;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent ;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
#main-btn::before, #main-btn::after{
  position:absolute;
  background: rgb(5, 138, 255);
  z-index: -1;
  transition: 0.3s;
  content: "";
}

#main-btn:hover::before{
  width: 0px;
  background-color: #ff0101;
}

#main-btn:hover::after{
  height: 0px;
  background-color: #ff0000;
}
#main-btn:hover{
  background-color: #ff0202;
  color: #fbf600;
} */







/* navbar */
#main-btn{

    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient color matching background */
    border: 2px solid white; /* Added white border */
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    #main-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #2575fc, #6a11cb); /* Changed hover gradient color */
    box-shadow: 0 8px 16px rgba(99, 98, 98, 0.3);
    }
    #main-btn:active {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    }

.form-control{
  border: 2px solid #f76196;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  background-color: #f9f9f9;
  color: #36454F;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

 

.footer {
  background: linear-gradient(to bottom, #333, #555); /* Gradient background */
  color: #fff; /* Text color */
  padding: 20px; /* Add some padding */
  border-top: 1px solid #666; /* Add a border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

.footer a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  color: #ccc; /* Link hover color */
}







/* ====media===== */
@media only screen and (max-width: 426px) {
.navbar-toggler-icon{
  background-color: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient color matching background */
                      border: 2px solid white; /* Added white border */
                      padding: 15px 15px;
                      font-size: 15px;
                      font-weight: bold;
                      border-radius: 10px;
                      transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
background-color:aliceblue
                      }
                    
                

.header{

}
  #gori img{
  width: 500px;
  height: 150px;
    padding:0px;

}
  
  .header{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .left-nb{
    margin-top:15px
  }

  .mid-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content:space-between;

   
  }
  .mid-section .right-mid{
      
    margin:0px;
    margin-bottom: 35px;
    margin-top: -25px;

  }
  .mid-section .left-mid{
    margin:0px;
    margin-bottom: -50px;
    margin-top: 15px;
  }



  #features{
     display: flex;
      flex-direction:column;
    
 }
 .about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hi{

display: flex;
justify-content: center;
align-items: center;
margin: 15px;
}



.about-us{
    margin:0px;
  }
.about-img {
  margin:0px;
}
   .contact-form {
    display:flex;
    flex-direction:column;
    justify-content:center;
      align-content:center
  }
 .about-us .swiper-slide {
  margin-top:250px;
}

  .footer{
    display:flex;
    justify-content:space-between;
    flex-direction:column;

    
    
  }
  .footer-right{
    display:flex;

    
width:75vw;
    justify-content:space-evenly;
    align-items:center;
    height:5vh
  }
  
  .footer p{
    text-align:center;
    margin-top:13px;
  }
}

@media only screen and (width >750px){

  .right-mid{
margin:0px;
}
  .about-us{
    margin:0px;
  }
   .contact-form {
    display:flex;
    flex-direction:row;
    justify-content:center;
      align-content:center
  }
  .con-btn{
    margin-top:37px;
    margin-left:15px;
 width:90px;
    height:45px
    
  }
  #main-btn{
   
  }
}

