/* Import Open Sans font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/* Define root variables for colors */
:root {
  --primary-color: #fd8eaf; /* Primary color */
  --text-color: #9e9999; /* Text color */
  --white-color: #f9f9f9; /* White color */
  --black-color: #36454F; /* Black color */
}

/* Set smooth scrolling behavior for HTML */
html {
  scroll-behavior: smooth;
}

/* Style left navigation bar image */
.left-nb img {
  width: 80px;
  height: 80px;
  margin-top: -25px;
}

/* Style main body background image */
.main-body {
  background-image: url(./hpbg.png);
}

/* Style about image */
.about-img {
  display: flex;
}

/* Style hear element color */
#hear {
  color: rgb(247 97 150);
}

/* Style mid-head image */
.mid-head img {
  width: 50px;
}

/* Style navbar width */
.navbar {
  width: 100vw;
}

/* Style navigation wrap position and transition */
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0%;
  z-index: 1000;
  transition: all 0.3s ease-out;
}

/* Style navigation item outline and transition */
.navigation-wrap .nav-item {
  outline: 0 0.5rem;
  transition: all 200ms linear;
}

/* Style main button */
#main-btn {
  border: 2px solid var(--white-color);
  background-color: #f76196;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

/* Style main button before pseudo-element */
#main-btn::before {
  position: absolute;
  background: var(--white-color);
  z-index: -1;
  transition: 0.3s;
  content: '';
}

/* Style main button after pseudo-element */
#main-btn::after {
  width: 9.3rem;
  height: 1.8rem;
}

/* Style main button before pseudo-element width and height */
#main-btn::before {
  width: 8.3rem;
  height: 3.1rem;
}

/* Style right navigation bar */
.right-nb {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
}

/* Style header width */
.header {
  width: 100vw;
}

/* Style mid-section */
.mid-section {
  /* */
}

/* Style right mid-section */
.right-mid {
  background-size: 50vw 50vh;
  background-repeat: no-repeat;
  margin-right: 150px;
  background-position-x: right;
  background-position-y: center;
  height: 50vh;
  width: 50vw;
  border-radius: 50%;
  border: rgb(255, 255, 255) 5px solid;
}

/* Style features left h2 */
.features-left h2 {
  width: 100%;
}

/* Style right mid-section image */
.right-mid img {
  border-radius: 50%;
  border: black 2px solid;
}

/* Style buy button */
#buy {
  background-color: rgb(247 97 150);
  text-align: center;
  border: 1px solid white;
}

/* Style left mid-section */
.left-mid {
  width: 50vw;
}

/* Style mid-section background image */
.mid-section {
  background-image: url(./hpbg.png);
}

/* Style swiper */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style about us image */
.about-us img {
  width: 500px;
  height: 200px;
}

/* Style about us */
.about-us {
  /* */
}

/* Style features image */
.features-img img {
  width: 350px;
  height: 350px;
}

/* Style features left */
.features-left {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

/* Style paragraph text alignment */
.pa {
  text-align: justify;
}

/* Style features card */
.features .card {
  cursor: pointer;
}

/* Style features card features image */
.features .card .features-img {
  box-shadow: 0.0625rem 0.25rem 1.25rem rgb(26 26 26 / 9%);
  border-radius: 0%;
  padding: 1.25rem 0;
  width: 5rem;
  text-align: center;
  height: auto;
  margin-bottom: 2.5rem;
  border-top-right-radius: 1.5rem;
}

/* Style features card image */
.features .card img {
  display: block;
  opacity: 75%;
  margin: 0% auto;
  filter: brightness(0);
}

/* Style features card hover image */
.features .card:hover .features-img img {
  filter: brightness(1);
}

/* Style card icon hover color */
.card i:hover {
  color: #f76196;
}

/* Style features card */
.features .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* Style hi element */
#hi {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style gori image */
#gori img {
  width: 400px;
  height: 300px;
  padding: 50px;
}

/* Style gori element */
#gori {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style headphones card hover */
.Headphones .card:hover {
  display: none;
}

/* Style hi image hover */
#hi img:hover {
  transition: all 0.5s;
  transform: scale(0.9);
  border: rgb(46 255 101) 2px solid;
}

/* Style hi image */
#hi img {
  width: 180px;
  padding: 15px;
}

/* Style star color */
.star {
  color: #3b53f0;
}

/* Style main button */
#main-btn {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border: 2px solid white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Style main button hover */
#main-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  box-shadow: 0 8px 16px rgba(99, 98, 98, 0.3);
}

/* Style main button active */
#main-btn:active {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

/* Style form control */
.form-control {
  border: 2px solid #f76196;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  background-color: #f9f9f9;
  color: #36454F;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

/* Style footer */
.footer {
  background: linear-gradient(to bottom, #333, #555);
  color: #fff;
  padding: 20px;
  border-top: 1px solid #666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style footer link */
.footer a {
  color: #fff;
  text-decoration: none;
}

/* Style footer link hover */
.footer a:hover {
  color: #ccc;
}

/* Style fab */
.fab {
  padding: 15px;
}

/* Media queries */

/* Style for screen width less than 426px */
@media only screen and (max-width: 426px) {
  .navbar-toggler-icon {
    background-color: linear-gradient(45deg, #6a11cb, #2575fc);
    border: 2px solid white;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-nb {
    /* */
  }

  .mid-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .right-mid {
    background-repeat: no-repeat;
    margin-right: 150px;
    background-position-x: right;
    background-position-y: center;
    height: 26vh;
    width: 45vw;
    border-radius: 50%;
    border: rgb(255, 255, 255) 5px solid;
    padding: 0px;
  }

  .right-mid img {
    border: black 2px solid;
    height: 24vh;
    padding-top: 2px;
    width: 40vw;
  }

  .mid-section .right-mid {
    margin: 0px;
    margin-bottom: 35px;
    margin-top: -25px;
  }

  .mid-section .left-mid {
    margin: 0px;
    margin-bottom: -50px;
    margin-top: 15px;
  }

  #features {
    display: flex;
    flex-direction: column;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .about-us {
    margin: 0px;
  }

  .about-img {
    margin: 0px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #email {
    margin-top: -25px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ip {
    margin-right: 25px;
  }

  .footer p {
    text-align: center;
  }
}

/* Style for screen width greater than 750px */
@media only screen and (width > 750px) {
  .right-mid {
    margin: 0px;
  }

  .about-us {
    margin: 0px;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .con-btn {
    margin-top: 37px;
    margin-left: 15px;
    width: 90px;
    height: 45px;
  }

  #main-btn {
    /* */
  }
}
